{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<head>
    <style>
        .btn-primary {
            background-color: #ffc107; /* Bootstrap warning yellow */
            border-color: #ffc107;
            color: black;
        }

        .btn-primary:hover {
            background-color: black !important;
            border-color: black !important;
            color: white;
        }
    </style>
</head>
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="text-center mb-4">Sign Up</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Enter your Email") }}
        </div>
        <div class="form-group mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", placeholder="Choose a username") }}
        </div>

        <div class="form-group mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Create a password") }}
        </div>



        <button type="submit" class="btn btn-primary w-100">Create Account</button>
    </form>
    <p class="text-center mt-3">Already have an account?
        <a href="{{ url_for('auth.login') }}">Login</a>
    </p>
</div>
{% endblock %}
